{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.{css,scss,sass}",
			"options": {
				"tabWidth": 1,
				"useTabs": true,
				"singleQuote": false
			}
		}
	]
}
