@use "@/shared/styles/mixins" as *;

.container {
	position: fixed;
	top: $toast_position;
	right: $toast_position;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	max-width: $toast_max_width;
	pointer-events: none;

	@include mobile {
		top: 10px;
		right: 10px;
		left: 10px;
		max-width: none;
	}
}

.toast {
	pointer-events: auto;
}
