@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.button {
	@include button-base;
	@include font-body;

	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	height: 40px;
	border: 1px solid $border_color;
	background: $background_card;
	color: $text_color;

	&:hover {
		border-color: $primary_color;
		background: $background_light;
	}

	&:focus {
		outline: 2px solid $primary_color;
		outline-offset: 2px;
	}
}
