@import "@/shared/styles/mixins";

.icon {
	width: 100%;
	height: 100%;
	background-color: currentColor;
	display: block;
}

.success {
	color: var(--success-color);
}

.error {
	color: var(--error-color);
}

.warning {
	color: var(--warning-color);
}

.info {
	color: var(--primary-color);
}

.loading {
	color: var(--primary-color);
}

.close {
	color: currentColor;
}
