@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.wrapper {
	@include p(lg);
	@include flex-column;
	@include g(xl);
}

.header {
	@include flex-between;

	flex-wrap: wrap;

	@include g(md);
}

.titleSection {
	@include flex-column;
	@include g(sm);
}

.title {
	@include font-heading-2;

	margin: 0;
	color: $text_color;
	font-weight: 700;
}

.subtitle {
	margin: 0;
	color: $text_light;

	@include font-body;
}

.bold {
	font-weight: 600;
}

.settings {
	@include flex-between;
}

.settingText {
	margin: 0;
	color: $text_light;

	@include font-body;
}

.enabled {
	color: $success_color;
}

.disabled {
	color: $error_color;
}

.cardExamples {
	display: flex;
	flex-wrap: wrap;

	@include g(md);

	align-items: flex-start;
}

.buttonExamples {
	display: flex;
	flex-wrap: wrap;

	@include g(sm);

	align-items: center;

	@include m(md, bottom);
}

.buttonGroup {
	display: flex;

	@include g(sm);

	flex-wrap: wrap;
}

.navLinks {
	display: flex;

	@include g(md);

	flex-wrap: wrap;
}
