@use "@/shared/styles/mixins" as *;

.title {
	@include font-body-large;

	margin: 0;
	color: var(--text-color);
	font-weight: 600;

	@include m(md, bottom);
}

.card {
	@include card-base;
	@include p(lg);

	.content {
		width: 100%;
	}

	&.default {
		border: 1px solid var(--border-color);
		background: var(--background-card);
	}

	&.outlined {
		border: 2px solid var(--border-color);
		background: var(--background-card);
	}

	&.filled {
		border: 1px solid var(--border-color);
		background: var(--background-light);
	}

	&.elevated {
		border: none;
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 30%),
			0 4px 6px -2px rgb(0 0 0 / 20%),
			0 0 0 1px rgb(255 255 255 / 5%);
		background: var(--background-card);
	}

	&.plain {
		padding: 0 !important;
		border: none;
		box-shadow: none;
		background: transparent !important;
	}

	@include size-variants("card");
	@include width-variants;

	&.widthThird {
		width: 33.333%;
	}

	&.widthQuarter {
		width: 25%;
	}

	&.bgDefault {
		background: var(--background-card);
	}

	&.bgLight {
		background: var(--background-light);
	}

	&.bgDark {
		background: var(--background-dark);
	}

	&.bgPrimary {
		background: var(--primary-color);
		color: #000;

		.title {
			color: #000;
		}

		* {
			color: #000;
		}
	}

	&.bgSuccess {
		background: var(--success-color);
		color: #000;

		.title {
			color: #000;
		}

		* {
			color: #000;
		}
	}

	&.bgWarning {
		background: var(--warning-color);
		color: #000;

		.title {
			color: #000;
		}

		* {
			color: #000;
		}
	}

	&.bgError {
		background: var(--error-color);
		color: #000;

		.title {
			color: #000;
		}

		* {
			color: #000;
		}
	}
}
