@use "sass:map";
@use "@/shared/styles/main.scss" as *;
@use "@/shared/styles/mixins.scss" as *;
@use "@/shared/styles/scrollbar.scss" as scrollbar;

.pageWrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $background_color;
	color: $text_color;
	@include scroll-styles;
	@include scrollbar.scrollbar-reserved;
}

.container {
	@include container;
	@include m(xl, y);
}
